<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="mystyle.css">
</head>
<body>
body {
    background-color: #fcfbfb; 
}
<div id="content">
<header>
header {
    background-color:rgba(20,30,13, .7);
}
div {
    height: 200px;
    max-width: 1600px;
    background-color: powderblue;
    margin: 0 auto;
    padding: 0;

  }
  nav a{ text-align: center; background-color:black;  text-align: center;
    color: #fcfbfb;
    text-decoration: none;
 }
 .home-title {
     color: blue;
 }
 nav a:hover {
    background-color: black;
color: white; } 
 #hero-msg h1 {
    text-align: center;
 }
 #hero-msg h4 {
    text-align: center; 
    color: red;
 }
 .button-box{
    text-align: center;
 }
 main selection{
    text-align: center;
 }
 .book {
     background-color: blue;
 color: red }
 .join {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
     background-color: red;
 }
 .join:hover{
     background-color: green;
 color: orange}
 #background{
     background-color: orange;
     color: purple
 }
 .msg{
     background-color: purple;
     color: green
 }
 footer{
     background-color: yellow;
     color: blue
 }
footer a hover:{ 
     text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    
}
.logo{
    width: 80px
}
 <section class="rapids-card">
    <img class="boat" src="images/rapids.jpg" alt="rafting boat">
    <img class="oars" src="images/oars.png" alt="oars icon">
    <h2>Rapids</h2>
</section>
<div id="background"></div> 
<img class="mountains" src="images/mountains.jpg" alt="Misty mountains">
<section class="msg">
    <h2>More Than Just The Thrill</h2>
    <p>Enjoy the breathtaking scenery. From valleys, meadows, canyons, and high peaks; it's way more than just the rapids. It's a great way to get away from it all and relax amongst all the beauty of the great outdoors. </p>
    <a class='join' href="rivers.html">Join Us</a>
</section>
div{
#background {
    height: 725px;
}
</footer>
<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>
